select {
    background-color: #007bff; /* azul primario */
    color: white;
    border: 1px solid #f8f9fa; /* borde claro */
  }
  
  select option {
    background-color: white; /* Fondo blanco */
    color: black; /* Texto oscuro */
    border: 1px solid white; /* Borde blanco */
    padding: 5px; /* Opcional: aumenta el espaciado */
  }
  