<div class="container-fluid ng-invalid ng-valid border border-primary m-1">
    <h3>Crear archivo</h3>

    <form #form="ngForm" class="m-1 p-2">

        <div class="mb-3 form-group">
          <label for="name" class="form-label">Nombre</label>
          <input name="name" type="text" class="form-control" id="name" placeholder="Ingrese el nombre"
              required 
              #name="ngModel"
              [(ngModel)]="fileItem.name"
              [ngClass]="{
                 'is-invalid': name.invalid && (name.dirty || name.touched),
                 'is-valid': name.valid && (name.dirty || name.touched)
              }"
          >
              @if (name.invalid && (name.dirty || name.touched)){
                <div class="form-text text-danger">
                    <!-- <div *ngIf="name.errors?.['required']">Name is required.</div>
                    <div *ngIf="name.errors?.['minlength']">Name must be at least 4 characters long.</div> -->
                </div>                
              }
              @if (name.valid && (name.dirty || name.touched)){
                <div class="form-text text-success"></div>                
              }  
        </div>
        

        <div class="mb-3 form-group">
            <label for="creation" class="form-label">Fecha</label>
            <input name="creation" type="date" class="form-control" id="creation"
                required
                #creation="ngModel"
                [(ngModel)]="fileItem.creation"
                [ngClass]="{
                  'is-invalid': creation.invalid && (creation.dirty || creation.touched),
                  'is-valid': creation.valid && (creation.dirty || creation.touched)
                }"
            >
              @if (creation.invalid && (creation.dirty || creation.touched)){
                <div class="form-text text-danger"></div>                
              } 
              @if (creation.valid && (creation.dirty || creation.touched)){
                <div class="form-text text-success"></div>                
              }
        </div>


        <div class="mb-3 form-group">
            <label for="type" class="form-label">Tipo Archivo</label>
            <select name="type" id="type" class="form-select text-dark bg-light border border-secondary" id="type"
                #type="ngModel"
                [(ngModel)]="fileItem.type"
                [ngClass]="{
                  'is-valid': type.valid
                }"
            >
            @for(fileType of fileTypes; track fileType; let index = $index){
              <option class="text-dark" [value]="fileType">
                {{ fileType }}
              </option>
            }
            </select>
            @if (type.valid && (type.touched || type.dirty)){
              <div class="form-text text-success"></div>                
            }
        </div>


        <div class="mb-3 form-group">
            <label for="parentId" class="form-label">Carpeta</label>
            <select name="parentId" id="parentId" class="form-select text-dark bg-light border border-secondary" 
                #parentId="ngModel"
                [(ngModel)]="fileItem.parentId"
                [ngClass]="{
                  'is-valid': parentId.valid
                }"
            >
            @for(folder of fileFolders; track folder; let index = $index){
              <option class="text-dark" [value]="folder.id">
                {{ folder.name }}
              </option>
            }
            </select>
              @if (parentId.valid && (parentId.touched || parentId.dirty)){
                <div class="form-text text-success"></div>                
              }
        </div>

        <div class="container-fluid">
          <div class="row mb-3 align-items-end form-group">
            <!-- <div class="col-11">
              <label for="owners" class="form-label">Dueños</label>
              <select name="owners" id="owners" class="form-select bg-light border border-secondary" 
              #owners="ngModel"
              [(ngModel)]="fileItem.owners"
              [ngClass]="{
                'is-valid': owners.valid
              }">
         
              @for(ownerOption of ownersList; track ownerOption; let index = $index){
                <option [value]="ownerOption">
                  {{ ownerOption.name }}
                </option>
              }

              </select>
              @if (owners.valid && (owners.touched || owners.dirty)){
                <div class="form-text text-success"></div>                
              }
            </div>  
                            #fileOwnersDinamyc[i]="ngModel"

            -->
            @for(owner of fileOwnersDinamyc; track owner; let i = $index){
            <div class="col-11">
              <label for="owners{{i}}" class="form-label">Dueños</label>
              <select name="owners{{i}}" id="owners{{i}}" class="form-select text-dark bg-light" 
                      [(ngModel)]="fileOwnersDinamyc[i]"
                      [ngClass]="{
                        'is-valid': fileOwnersDinamyc[i]
                      }">
              @for(ownerOption of ownersList; track ownerOption; let index = $index){
                <option [value]="ownerOption" [ngValue]="ownerOption">
                  {{ ownerOption.name }}
                </option>
              }
              </select>
              @if (fileOwnersDinamyc[i]){
                <div class="form-text text-success"></div>
              }
            </div>
          }
          
          
            <div class="col-1 align-items-end mb-1">
                <button (click)="mostrarDuenioExtra()" class="btn btn-secondary">
                  +
                </button>
            </div>

        </div>
      </div>
          
          <div class="container-fluid">
            <div class="row mb-3">
              <div class="col">
                <button (click)="volver()" class="btn btn-secondary" name="volver" id="volver">
                  Volver
                </button>
              </div>
          
              <div class="col text-end">
                <button [disabled]="form.invalid" (click)="guardarForm(form)" type="submit" class="btn btn-primary" name="guardarForm" id="guardarForm">
                  Guardar
                </button>
              </div>
            </div>
          </div>          

    </form>
</div>
